<table
    style="background: linear-gradient(180deg,#ffffff 0%,#ffffff 32.81%,#e9e9e9 64.58%,#efebeb 100%);box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.18);margin-top: 10px;margin-bottom: 10px;border: 1px solid rgba(169, 169, 169, 0.47); border-collapse:collapse;"
    align="center" width="593" cellspacing="0" cellpadding="0" border="0" border-collapse="collapse">

    <tbody>
        <tr>
            <th width="189px"></th>
            <th width="407px"></th>
        </tr>
        <tr>
            <td></td>
            <td width="189px">
                <img src="https://ingsistemas.cloud.ufps.edu.co/rsc/img/logo_vertical_ingsistemas_ht180.png"
                    width="200px" height="75px" alt=""
                    style="width:200px; height:75px; float: right; margin-right: 2%;">
            </td>

        </tr>
        <tr>
            <td style="padding: 0 8px;" colspan="2">
                <p style="font-family: sans-serif;font-weight: 600;">Cordial saludo.</p>
                <p style="font-family: sans-serif;">Estimado {{data.cit_destinatario}} {{data.email_texto}}</p>
                <p style="font-family: sans-serif;font-weight: 600;">{{data.cit_nombre}}</p>
                <p style="font-family: sans-serif;">{{data.cit_descripcion}}</p>
            </td>
            <td style="display: none;"></td>
        </tr>
        <tr>
            <td colspan="2">
                <table
                    {{!--  style="width: 100%;background-image: url(https://img.freepik.com/vector-gratis/vector-onda-azul-transparente_1055-7084.jpg?size=338&ext=jpg);background-size: 620px 211px;background-position: center 12px;background-repeat: no-repeat;" --}}
                    width="100%" height="174px" center>
                    <tbody>
                        <tr>
                            <td>
                                <table
                                    {{!--   style="height: 110px;width: 447px;background-image: url(https://img.freepik.com/vector-gratis/fondo-poligonal-transparente-colorido-abstracto_1055-5149.jpg?size=338&ext=jpg);background-size: 100% 100%;background-position: center;border-radius: 0 20px;" --}}
                                    align="center">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <table style="height: 100%;width: 86px;" align="center">
                                                    <tbody>
                                                        <tr>
                                                            <td width="90px" height="90px" xml="lang">
                                                                <img width="80" height="80" border="1"
                                                                    style="width: 90px;height: 90px;border-radius: 50px;"
                                                                    src={{data.email_imagen}}>
                                                            </td>
                                                        </tr>
                                                        <tr style="height: 35%;">
                                                            <td width="86px" height="40px" xml="lang"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td>
                                                <table style="height: 100%;width: 424px;" align="center">
                                                    <tbody>
                                                        <tr style="height: 28px;">
                                                            <td xml="lang"></td>
                                                        </tr>
                                                        <tr>
                                                            <td xml="lang">
                                                                <p
                                                                    style="margin: 10px;white-space: nowrap;font-family: sans-serif;font-weight: 600;">

                                                                    <a style="display: list-item; color: #506877;">
                                                                        Dia: {{data.cit_fecha_agendada_formateada}} </a>

                                                                    <a style="display: list-item; color: #506877;">
                                                                        Hora: {{data.cit_hora_inicio}} -
                                                                        {{ data.cit_hora_fin}} </a>

                                                                    <a style="display: list-item; color: #506877;">
                                                                        Lugar: {{data.cit_lugar}}</a>

                                                                </p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td style="display: none;"></td>
        </tr>
        <tr>
            <td colspan="2">
                <img src="https://s3.amazonaws.com/images.hamlethub.com/hhresized/original/2745/201509/grassFooter.png"
                    alt="">
            </td>
            <td style="display: none">

            </td>
        </tr>
    </tbody>
</table>