<h3 class="title-Bar-2">INFORMACIÓN TERMINAL {{tipo}}</h3>

<table class="borUpLeftRight" width="100%" rules="cols">
    <th width="33.33333333%">
        <table>
            <tr>
                <td>
                    <h3 class="titleContent">Serial</h3>

                </td>
            </tr>
            <tr>
                <td>
                    <h3 class="textContent">{{terminal.inci_term_serial}}</h3>
                </td>
            </tr>
        </table>
    </th>
    <th class="borLeftRight" width="33.33333333%">
        <table>
            <tr>
                <td>
                    <h3 class="titleContent">Marca</h3>

                </td>
            </tr>
            <tr>
                <td>
                    <h3 class="textContent">{{terminal.inci_term_brand}}</h3>
                </td>
            </tr>
        </table>
    </th>
    <th width="33.33333333%">
        <table>
            <tr>
                <td>
                    <h3 class="titleContent">Modelo</h3>

                </td>
            </tr>
            <tr>
                <td>
                    <h3 class="textContent">{{terminal.inci_term_model}}</h3>
                </td>
            </tr>
        </table>
    </th>
</table>
<table class="borUpDownLeftRigth" width="100%" rules="cols">
    <th class="borRight" width="50%">
        <table>
            <tr>
                <td>
                    <h3 class="titleContent">Tecnología</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <h3 class="textContent">{{terminal.inci_tecnology}}</h3>
                </td>
            </tr>
        </table>
    </th>
    <th width="50%">
        <table>
            <tr>
                <td>
                    <h3 class="titleContent">Número de terminal</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <h3 class="textContent">{{terminal.inci_term_number}}</h3>
                </td>
            </tr>
        </table>
    </th>
</table>